/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border: 0px solid white 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(221, 61, 32); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(221, 61, 32); 
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(221, 61, 32);
  overflow: hidden; 
  margin: 0;
}

.home {
  background-blend-mode: multiply, normal;
  background-color: rgb(221, 61, 32);
  background: url('assets/perfil1.png'), radial-gradient(circle, rgba(221,61,32,1) 49%, rgba(177,43,19,1) 100%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 57vh, 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vh auto;
  grid-template-rows: 40vh auto;

  text-align: center;
  color: white;
  font-family: 'Inconsolata',Consolas, monaco, monospace;

}

a {
  color: white;
}

a:hover {
  color: rgb(221, 61, 32); 
}

button {
  color: white;
  text-decoration: none;
  background: none;
  border-radius: 0;
  width: unset;
  border: none;
  padding: 0;
}

button:disabled, button.disabled {
  color: lightgrey;
  text-decoration: line-through;
  cursor: not-allowed;
}



.modelContainer {
  margin:auto;
  display: inline-block;
  /* background-color: orangered; */
}

#prismModel {
  width: 40vh;
  height: 40vh;
}

model-viewer {
  --poster-color: transparent;
}

model-viewer::part(default-progress-mask){
  display: none;
}

model-viewer::part(default-ar-button) {
  display: none;
}

.profile {
  height: 100%;
  width: 100vw;
  margin: auto;

  display: -ms-grid;

  display: grid;
  -ms-grid-rows: 31vh auto;
  grid-template-rows: 31vh auto;
}

.navbar {  
  /* border-radius: 3px; */
  width: fit-content;
  max-width: 350px;
  /* max-width: 145px; */
  margin: auto;
  padding: 7px;
  font-size: 1.2rem;
  color: white;
  /* background-color: white; */
  border: 1px solid white;
}
@media (max-width: 700px){
  .navbar {
    font-size: 1.5rem;
  }
}

.navElement:hover, .navElement:focus {
  color: white;
  background-color: rgb(221, 61, 32);
  outline: none;
}

.navElement {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9fr;
  grid-template-columns: 1fr 9fr;
  cursor: pointer;
  text-align: left;
  margin-top: 5px;
  padding-right: 1em;
  width: 100%;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.15); */
}

.navElementIndicator {
  visibility: hidden;
  text-align: right;
  padding-right: 5px;
}

.navElement:hover > .navElementIndicator, .navElement:focus > .navElementIndicator {
  visibility: visible;
}

@media screen and (min-width: 1024px) {
  .onlyMobile {
    display: none 
  }
}


.title {
  height: auto;
  overflow: hidden;
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 15px;
  grid-template-columns: auto 15px;
  text-align: left;
}

.info {
  text-align: center;
  cursor: help;
  /* border-radius: 15px;
  border: 1px solid white; */
}

.infoData {
  height: 0;
  width: 0px;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.info:hover ~ .infoData  {
  visibility: visible;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height:  calc(8px + 1.3vmin );
  
}

.info:hover ~ .infoData span {
  display: inline-block;
  padding-left: 120%;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation: marquee 12s linear infinite;
          animation: marquee 12s linear infinite;
}

.infoData span {
  padding-left: 120%; 
}

@-webkit-keyframes marquee {
  0%   { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  100% { -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
}

@keyframes marquee {
  0%   { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  100% { -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
}

.pdf {
  width: 100%;
  height: 100%;
}

#modalOverlay {
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
  visibility: hidden;
}

.modal {
  text-align: center;
  color: white;
  font-family: 'Inconsolata',Consolas, monaco, monospace;

  -webkit-transition: 0.2s, ease, 0.2s;

  -o-transition: 0.2s, ease, 0.2s;

  transition: 0.2s, ease, 0.2s;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  height: 0vh;
  width: 80vw;
  min-width: 100px;
  overflow: hidden;
  z-index: 10;

  border: 2px solid white;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.66);
          box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.66);

  visibility: hidden;
}

.div {
  /* visibility: hidden; */
  background-color: black;
  padding: 15px;
}

.modalHeader {
  font-size: 1.4em;
}

.smallerText {
  font-size: 0.85em;
}

#multimediaModal{
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto, 15px, auto;
  grid-template-rows: auto, 15px, auto;
  text-align: center;
  color: white;
  font-family: 'Inconsolata',Consolas, monaco, monospace;
}

#multimediaModal span {
  -ms-grid-row: 2;
  grid-row: 2;
}

#contactModal {
  text-align: center;
  color: white;
  font-family: 'Inconsolata',Consolas, monaco, monospace;
}

#aboutMeModal {
  display: flex;
  flex-direction: column;
}

.aboutMeContent {
  text-align: left;
  max-width: 700px;
  width:100%;
  margin: auto;
  transition: margin 2s;
  overflow-y: scroll;
}

@media (max-width: 375px) {
  .aboutMeContent {
    font-size: 1rem;
  }
}

.aboutMeContent > a {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
} 

.ti-cursor {
  mix-blend-mode: difference;
}

:root {
  --ti-cursor-margin-left: 0em;

  --ti-cursor-margin-right: 0.1em;
}

#arErrorModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
